@using Microsoft.AspNetCore.Identity
@using collector_forum.Data.Models
@model collector_forum.Models.Category.CategoryTopicModel

@{
    ViewData["Title"] = Model.Category.Name;
}

<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">
            <span>@Model.Category.Name Category</span>
            @if (Context.User.Identity.IsAuthenticated)
            {
                <span id="headingBtn">
                    <a asp-controller="Post" asp-action="Create" asp-route-id="@Model.Category.Id" class="btn btn-newPost">
                        Create Post
                    </a>
                </span>
            }
            <form asp-controller="Forum" asp-action="Search" method="post">
                <div class="searchForm">
                    <input asp-for="SearchQuery" type="text" placeholder="Search..." class="searchBar" onfocus="clearThis(this)" />
                    <button type="submit" class="btn buttonSearch">
                        <i class="material-icons">search</i>
                    </button>
                </div>
                <input asp-for="Category.Id" name="id" type="hidden" />
            </form>
        </div>
        <div class="sectionDescription">
            <div class="forumLogo" style="background-image: url(@Model.Category.ImageUrl)"></div>
            <p>
                Welcome to the @Model.Category.Name category. Please keep posts friendly and on-topic.
            </p>
            @if (!User.Identity.IsAuthenticated)
            {
                <p>
                    <span>
                        You must be a
                        <a id="toreg" asp-area="Identity" asp-page="/Account/Register">
                            registered member
                        </a>
                        to create new post.
                    </span>
                </p>
            }
        </div>
    </div>
    <div class="row forumIndexContent">
        @if (Model.Posts.Any())
        {
            <table class="table table-hover table-bordered" id="forumIdenxTable">
                <tbody>
                    @foreach (var post in Model.Posts)
                    {
                        <tr>
                            <td>
                                <div class="postData">
                                    <div class="postTitle">
                                        <a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">@post.Title</a>
                                    </div>
                                    <div>
                                        <span class="postAuthor">
                                            <a asp-controller="Profile" asp-action="Detail" asp-route-id="@post.AuthorId">
                                                @post.AuthorName
                                            </a>
                                        </span>
                                        (@post.AuthorRating)
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="forumPostConent">
                                    Replies: @post.RepliesCount
                                </div>
                            </td>
                            <td>
                                <div class="postDate">@post.DatePosted</div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="noPosts">
                <i class="material-icons md-72">question_answer</i>
                <h3>
                    It looks like there are no post to be found.
                    Why not
                    <a asp-controller="Post" asp-action="Create" asp-route-id="@Model.Category.Id">
                        <span>Post</span>
                    </a>
                    Something?
                </h3>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        function clearThis(target) {
            target.value = "";
        }
    </script>
}