@model collector_forum.Models.Post.NewPostModel

@{
    ViewData["Title"] = "Create Post";
}

<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading noBorder">
            New Post | @Model.CategoryName
            <div class="forumLogo" style="background-image: url(@Model.CategoryImageUrl);"></div>
            <span id="headingBtn">
                <a asp-controller="Forum" asp-action="Topic" asp-route-id="@Model.CategoryId"
                   class="btn btn-back">
                    Back to @Model.CategoryName
                </a>
            </span>
        </div>
    </div>
    <div class="row createPost">
        <div class="createPostSection">
            <div class="authorBlock">
                You're submitting this post as <strong>@Model.AuthorName</strong>
            </div>
            <form asp-action="AddPost" method="post" id="addPostForm">
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Content"></label>
                    <textarea asp-for="Content" class="form-control"></textarea>
                </div>
                <button type="submit" id="submitPostBtn" class="btn btn-submitPost">
                    Submit Post
                </button>
                <input asp-for="CategoryId" type="hidden"/>
            </form>
        </div>
    </div>
</div>