@using collector_forum.Models.Post
@using Microsoft.AspNetCore.Identity
@using collector_forum.Data.Models

@model IEnumerable<PostListingModel>

@inject SignInManager<ApplicationUser> signInManager

@{
    ViewBag.Title = "Posts list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Lists">
    <h1 class="headersTable">List of all posts</h1>
    <div class="table-responsive-xl">
        <table class="table table-hover usersList">
            <tr style="font-size: 20px; marker:none;">
                <th scope="col">Title</th>
                <th scope="col">Content</th>
                <th scope="col">Author</th>
                <th scope="col" class="text-center align-middle">Action</th>
            </tr>
            @foreach (var post in Model)
            {
                <tr style="font-size: 16px;">
                    <td class="align-middle" style="width: 15%;">@post.Title</td>
                    <td class="align-middle" style="width: auto;">@post.Content</td>
                    <td class="align-middle">@post.AuthorName</td>
                    <td class="text-center align-middle"  style="width: 15%;">
                        <div class="btn-group align-middle">
                            <form asp-action="Delete" asp-controller="Post" asp-route-id="@post.Id" method="post">
                                <a class="btn btn-success" asp-controller="Post" asp-action="Edit" asp-route-postId="@post.Id">Edit</a>
                                <button type="submit" class="btn btn-danger"
                                        onclick="return confirm('Are you sure you want to delete post: @post.Title')">
                                    Delete
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>